alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

alias cdd='cd docker'

alias ld='lazydocker'

alias ls='lsd'
alias l='ls -F'
alias la='ls -A'
alias ll='ls -alhF'
alias lt='ls --tree'

alias h='history'

alias dc='docker compose'
alias dcr='docker compose run --rm'
alias dcps='docker compose ps'
alias dcu='docker compose up -d'
alias dcd='docker compose down'
alias dce='docker compose exec'
alias dcl='docker compose logs -f'

GIT_LOG_FORMAT='%C(yellow)%h %C(cyan)%ad %C(cyan)%ar %Cgreen%an %Creset%s %C(red)%d'
alias g="git"
alias cbr='git symbolic-ref --short HEAD|tr -d \"\\n\"'
# すでにmasterにmergeされたbranchを一括削除
alias ggc="g branch --merged | grep -vE '^\*|master$|develop$'  | xargs -I % git br -d %"
alias gco='g checkout'
alias gst='g status'
alias gbr='g branch'
alias gcm='g commit'
alias gcmm='g commit -m'
alias gchp='g cherry-pick'
alias gaa='g add -A'
alias gl='g log --pretty=format:"$GIT_LOG_FORMAT" --date=short'
alias glm='g log --merges --pretty=format:"$GIT_LOG_FORMAT" --date=short'
alias glg='g log --graph --pretty=format:"$GIT_LOG_FORMAT" --date=short'
alias gpush='g push'
alias gpull='g pull'

alias codi='code-insiders'